.Post {
  color: #333;
  margin-bottom: 8px;
  display: block;
  text-decoration: none;
  z-index: 10;
}

.Post__date {
  font-size: large;
}

.Post:hover {
  text-decoration: underline;
}

.Post h3 {
  font-weight: 300;
  color: #111;
  margin-bottom: 1rem;
}

.Post:hover h3 span {
  color: #35615d;
}

.Post__date {
  margin: 4px 0;
}

.FeaturedArticle {
  margin-bottom: 60px;
}
.FeaturedArticle h3 {
  font-size: 50px;
  margin-bottom: 1.666rem;
}
.FeaturedArticle h5 {
  font-size: 30px;
}
.FeaturedArticle__date {
  font-size: larger;
  margin-top: 8px;
}

.LatestPostLabel {
  background: #35615d;
  color: #fffffa;
  padding: 0 8px;
}

.link-cta {
  text-decoration: none;
  background: #35615d;
  color: #fffffa;
  padding: 4px 8px;
}

pre#contenteditable {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word; 
}