html,
body {
  font-family: -apple-system, BlinkMacSystemFont;
  background-color: #fffffa;
}

h1 {
  font-size: 2.5em;
  color: #222;
}

h2 {
  font-size: 2em;
}

h3,
h4 {
  color: #111;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-weight: 300;
}

/* Header */
header {
  display: flex;
  /* justify-content: center; */
  /* text-align: center; */
  margin-bottom: 1.666rem !important;
}
header .blog-title {
  font-size: 24px;
  color: #333;
}
header .blog-title img {
  width: 300px;
  margin-bottom: 0;
}
header .description {
  font-size: 14px;
}
.header-content {
  padding: 64px 0 0;
}
.header-content--bottom {
  align-self: flex-end;
}
.header-content--top {
  align-self: flex-start;
}

/* Footer */
footer {
  text-align: center;
  margin: 32px auto !important;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Column things */
.row {
  display: flex;
}
.col-2 {
  flex: 2;
}
.col-4 {
  flex: 4;
}
