html,
body {
  font-family: "Crimson Text", Georgia, 'Times New Roman', Times, serif;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crimson Text", Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-size: 2.5em;
  color: #222;
}

h2 {
  font-size: 2em;
}

h3,
h4 {
  color: #111;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-weight: 300;
}

button {
  font-family: -apple-system, BlinkMacSystemFont;
}

.TopBarAccent {
  background-color: #3e652f;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 8px;
}

/* Header */
header {
  display: flex;
  /* justify-content: center; */
  /* text-align: center; */
  margin-bottom: 3.12rem !important;
}
header .blog-title {
  font-size: 24px;
  color: #333;
  padding: 64px 0 0;
}
header .blog-title img {
  width: 300px;
  margin-bottom: 0;
}
header .description {
  font-size: 14px;
  margin-bottom: 0;
}
.header {
}
.header--bottom {
  align-self: flex-end;
}
.header--top {
  align-self: flex-start;
}

.header-content {
  padding-top: 32px;
}

.header-content__topics {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px 0;
}

.header-content__topics button {
  transition: all ease 120ms;
  opacity: 0.5;
  display: flex;
  cursor: pointer;
  font-size: 18px;
  background: none;
  border: none;
}

.header-content__topics button:hover {
  opacity: 1;
}

.SearchBar {
  transition: all ease 120ms;
  opacity: 0.5;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 4px 0px;
  font-size: 18px;
  max-width: 200px;
  min-width: 100px;
}
.SearchBar:focus {
  opacity: 1;
  outline: none;
  border-color: #3e652f;
}

/* Footer */

form.NewsletterSignUpForm {
  text-align: center;
  color: #eee;
}

form.NewsletterSignUpForm h4,
footer .Bio p {
  color: #eee !important;
}

form.NewsletterSignUpForm input {
  transition: all ease 120ms;
  opacity: 0.5;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 4px 0px;
  font-size: 18px;
  width: 70%;
  max-width: 300px;
  min-width: 100px;
  background: none;
  color: #eee;
  margin-right: 8px;
}
form.NewsletterSignUpForm input:focus {
  opacity: 1;
  outline: none;
  border-color: #3e652f;
}

form.NewsletterSignUpForm button {
  text-align: center;

  background-color: #3e652f;
  border: none;
  color: #fff;
  cursor: pointer;
}


footer {
  background-color: #1e3117;
  margin: 32px auto 0 !important;
  padding: 32px;
  color: #eee;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Column things */
.row {
  display: flex;
}
.col-2 {
  flex: 2;
}
.col-4 {
  flex: 4;
}
